@import dtos._ 
@import helper._

@(newGameSession: NewGameSession)

@main(title = Messages("homecontroller.carddeck.title")) {

<script type="text/javascript" src="@routes.Assets.versioned("js/jquery.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/common.js")"></script>



<div class="row">
	<div class="medium-8 columns">
		@helper.form(action=routes.NewGameController.registerGame(), 'id -> "cardDeckForm") {
		<div class="columns" style="width: 30rem;">
			<h1>Card decks!</h1>
			
			<table class="stack hover">
  				<thead>
   				 <tr>
      				<th>S.No.</th>
      				<th>1st No.</th>
      				<th>Operator</th>
     				<th>2nd No.</th>
     				<th>Discard</th>
    			</tr>
  			</thead>
  			<tbody>

			@for( (card, index) <- newGameSession.getListCards().zipWithIndex){
				
				  <tr>
      				<td><strong>@(index +1):</strong></td>
      				<td><input type="text" id="firstnumber@index" name="firstnumber@index" class="numbersOnly" value=@card.getA()></td>
      				<td>
      				<select id="operator@index" name="operator@index">
   								<option value="@card.getOp()" selected>@card.getOp()</option>
					</select>
      				</td>
      				<td><input type="text" id="secondnumber@index" name="secondnumber@index" class="numbersOnly" value=@card.getB()></td>
      				<td> <input id="discard@index" type="checkbox" name="discard@index" value="add" class="medium"></td>
    			</tr>
			}
			  </tbody>
			</table>
			<input type="hidden" name="size" value="@newGameSession.getListCards().size()" />
			<input type="hidden" name="opsList" value="@newGameSession.getListOps()" />
			<input type="hidden" name="timer" value="@newGameSession.getTimer()" />

			<input type="submit" class="button expanded" value="Create game!">
				
		</div>	
        <div class="medium-4 columns" >
          <h5 style="color:red">Pin Number:</h5>
          <h4>
          	<input type="text" required name="pin" class="numbersOnly" placeholder="1234" maxlength="4"/>
          </h4>
        </div>
        }
	</div>
</div>
}
