@import models.Teacher
@import dtos.TeacherEditDTO

@(form: Form[TeacherEditDTO], teacher: Teacher)

@main(title = Messages("homecontroller.admin.title")) {

<div class="row">
	<div class="medium-6 columns">
		<h2>Change information for <b>@teacher.getName()</b></h2>
		<div class="row column log-in-form">
		@if(form.hasGlobalErrors) {
   	  <p class="error">
	        @for(error <- form.globalErrors) {
	            <p>@Messages(error.messages, error.arguments.toArray: _*)</p>
	        }
   			</p>
		}
			@helper.form(action = routes.EditTeacherController.edit(teacher.getId())) {
				<div class="medium-8 column">
					@helper.inputText(form("login"), '_showConstraints -> false, '_label -> "Username")
					@helper.inputPassword(form("password"), '_showConstraints -> false, '_label -> "Password")
					@helper.inputPassword(form("verifyPassword"), '_showConstraints -> false, '_label -> "Verify password")
				</div>
				<button type="submit" class="button expanded">Submit changes</button>
				<a href="/teachers" class="button hollow expanded">Back</a>
				}
		</div>
	</div>

</div>
}

