@import dtos.LoginDTO

@(form: Form[LoginDTO])

@main(title = Messages("homecontroller.index.title")) {

<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    
    <div class="row column log-in-form">
    	<h4 class="text-center">@Messages("homecontroller.index.practice")</h4>
    
    	<div class="column center">
            <a href="/practice" class="button medium hollow">@Messages("homecontroller.index.practiceMode")</a>
            <a href="/help" class="button medium hollow">@Messages("homecontroller.index.help")</a>

        <script>
            function switchLanguage(lang) {
                window.location.href = '/language?language='+lang
            }
            
        </script>
        <div class="dropdown">
            <span class=" button medium hollow">Languages</span>
            
            
            
                        <div class="dropdown-content">
                            <input  onclick="switchLanguage('en')" id="ukFlag"  />
                            <input  onclick="switchLanguage('fr')" id="frFlag"  />
                        </div>
                        
      
            
  
</div>
            
    	</div>
    	
    	
     </div>
    
  </div>
  
</div>

}

