@main(title = Messages("homecontroller.index.title")) {

<script type="text/javascript" src="@routes.Assets.versioned("js/jquery.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/egg.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/easter.js")"></script>
        <script>
            function switchLanguage(lang) {
                window.location.href = '/language?language='+lang
            }
            
        </script>
        
<div class="callout" >
  <div class="medium-6 medium-centered large-4 large-centered columns">
    
    <div class="row column log-in-form">
    	<h4 class="text-center">@Messages("homecontroller.index.practice")</h4>
    
    	<div class="large-5 large-centered">
            <a href="/practice" class="button medium expanded">@Messages("homecontroller.index.practiceMode")</a>
            <a href="/help" class="button medium hollow expanded">@Messages("homecontroller.index.help")</a>
    	</div>
    	
     </div>
    
  </div>
  </div>
 
 <div class="large">
	 <img id="homepage" src="../assets/images/home.jpg">
 </div>


}

