@import dtos._ 

@(form: Form[PracticeSession])

@main(title = Messages("homecontroller.placticeskill.title")) {

<script type="text/javascript" src="@routes.Assets.versioned("js/jquery.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/timer.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/sound.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/d3.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/graphic.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/egg.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/easter.js")"></script>

<script type="text/javascript">

jQuery(function ($) {
    var fiveMinutes = 10,
        display = $('#time');
    var timer = @form("timer").value();
	if(timer != 0){
    startTimer(timer, display);
	}
	var numberOfQuestions = @form("sessionLength").value();
	var numberOfCorrect = @form("numCorrect").value();
	var numberOfIncorrect = @form("numIncorrect").value();
	var pieContainer =d3.select("#time");
    var pieContainerCorrect =d3.select("#points");
    //var pieContainerIncorrect =d3.select("#incorrect");

	graphicPoints(numberOfQuestions,numberOfCorrect,numberOfIncorrect,pieContainerCorrect);
	//graphicPoints(numberOfQuestions,numberOfIncorrect,'incorrect',pieContainerIncorrect);
	
	function startTimer(duration, display) {
	    var timer = duration,  seconds;
	    setInterval(function () {
	    	var value = seconds;
	        seconds = parseInt(timer % 60, 10);

	        seconds = seconds < 10 ? "0" + seconds : seconds;
	        
	        graphicTime(seconds,duration,pieContainer,value);
	        

	        if (--timer < 0) {
	        	$('form#practiceForm').submit();
	        }
	    }, 1000);
	}

	
	$('audio').prop('muted', false);
	
	
});
</script>



<div class="row">
	<!-- <div class="medium-6 medium-centered large-4 large-centered columns"> -->
	<div class="row columns">
		<div class="medium-6 columns">
				<h1>@form("card.a").value() @form("card.op").value() @form("card.b").value()</h1>
				@if(form.hasGlobalErrors) {
					<div style="color:red">
				    <p class="error" style="color:red">
				        @for(error <- form.globalErrors) {
				            <p>@Messages(error.messages, error.arguments.toArray: _*)</p>
				            </div>
				        }
				    </p>
				}
				@helper.form(action=routes.PracticeController.submitSession() , 'id -> "practiceForm") {
					@helper.inputText(form("card.result"), 'autocomplete -> "off", '_label -> "", '_showConstraints -> false)
					@defining(form("card.a")) { a =>
						<input type="hidden" name="@a.name" id="@a.id" value="@a.value">
					}
					@defining(form("card.b")) { b =>
						<input type="hidden" name="@b.name" id="@b.id" value="@b.value">
					}
					@defining(form("card.op")) { op =>
						<input type="hidden" name="@op.name" id="@op.id" value="@op.value">
					}
					@defining(form("sessionLength")) { op =>
						<input type="hidden" name="@op.name" id="@op.id" value="@op.value">
					}
					@defining(form("current")) { op =>
						<input type="hidden" name="@op.name" id="@op.id" value="@op.value">
					}
					@defining(form("numCorrect")) { op =>
						<input type="hidden" name="@op.name" id="@op.id" value="@op.value">
					}
					@defining(form("difficulty")) { op =>
						<input type="hidden" name="@op.name" id="@op.id" value="@op.value">
					}
					@defining(form("timer")) { op =>
						<input type="hidden" name="@op.name" id="@op.id" value="@op.value">
					}
					@defining(form("numIncorrect")) { op =>
						<input type="hidden" name="@op.name" id="@op.id" value="@op.value">
					}
					<input type="submit" class="button expanded" value="Answer!">
				}
		</div>	
        <div class="medium-4 columns" >
        	 <audio id="background_audio" autoplay="autoplay" loop="loop" controls="controls">
  				<source src="../assets/sound/time.flac" />
			</audio> 
        	<div class="medium-6  columns">
        		<div id="time"></div>
        	</div>
        	</br>
        	<div class="row columns">
        		<div id="points">
        		</div>
        	<div>
        	</div>
		</div>
        </div>
	</div>
<!-- 	<div class="medium-4 columns" data-sticky-container>
        <div class="sticky" data-sticky data-anchor="content">
          <h4>Score:</h4>
                    </br>
          <h5>Correct answer: @form("numCorrect").value() / @form("sessionLength").value()</h5>
          <h5>Incorrect answer: <span style="color: red">@form("numIncorrect").value()/ @form("sessionLength").value()</span> </h5>
        </div>
      </div> -->
</div>
}
