@import models.Student
@import dtos.StudentRegisterDTO

@(form: Form[StudentRegisterDTO], students: List[Student])

@main(title = Messages("homecontroller.index.title")) {

<div class="row">
	<div class="medium-6 columns">
		<h2>Create New Student</h2>
		<div class="row column log-in-form">
		@if(form.hasGlobalErrors) {
   			<p class="error">
	        @for(error <- form.globalErrors) {
	            <p>@Messages(error.messages, error.arguments.toArray: _*)</p>
	        }
   			</p>
		}
			@helper.form(action = routes.StudentController.createStudent()) {
				<div class="medium-8 column">
					@helper.inputText(form("login"), '_showConstraints -> false, '_label -> "Username")
					@helper.inputPassword(form("password"), '_showConstraints -> false, '_label -> "Password")
					@helper.inputPassword(form("verifyPassword"), '_showConstraints -> false, '_label -> "Verify password")
				</div>
				<button type="submit" class="button expanded">Create Student</button>
				<a href="/" class="button hollow expanded">Back</a>
				}
		</div>
	</div>
	
	<div class="medium-5 columns">
		<h2>List of Students</h2>
			<table class="stack hover">
  				<thead>
   				 <tr>
      				<th>S.No.</th>
      				<th>Username</th>
      				<th>Edit</th>
     				<th>Delete</th>
    			</tr>
  			</thead>
  			<tbody>
				@for((t, index) <- students.zipWithIndex) {
			<tr>
				<td><strong>@(index +1):</strong></td>
			<td>
			<div class="sticky">@t.getName()	
			</div>
			</td>
			<td><a class="button  hollow small" href="@routes.EditStudentController.index(t.getId())">Edit</a></td>
			<td><a class="button  hollow small" href="@routes.StudentController.deleteStudent(t.getId())">Delete</a></td>
			</tr>
		}
				</tbody>
			</table>
		@helper.form(action=routes.AdminController.logout()) {
			<input type="submit" class="button expanded" value="Logout">
		}
		
	</div>
</div>
}

