@(username: String)

@main(title = Messages("homecontroller.index.title")) {

<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <div class="row column log-in-form">
          <div class="column">
	Take a deep breath. You managed to login with username "@username". 
	</br>
	<h5>Enter a pin number to join a game!</h5>
      </div>
    @helper.form(action=routes.NewGameController.joinGame()) {
         <div class="columns" style="padding-top:10%">
         <div class="large-6 medium-6 columns">
              <input type="text" required name="pin" class="numbersOnly" placeholder="1234" maxlength="4"/>
            </div>
            <div class="large-6 medium-6 columns">
          <input type="submit" class="button" value="Enter a game">
          </div>
      </div>
      }
      @helper.form(action=routes.HomeController.logout()) {
               <div class="columns" style="padding-top:5%">
         <div class="large-6 medium-6 columns">
              <a href="/practice" class="button medium hollow">Practice mode!</a>
            </div>
            <div class="large-6 medium-6 columns">
         <input type="submit" class="button medium" value="Logout">
          </div>
      </div>
      }

    </div>

  </div>
</div>

<script type="text/javascript" src="@routes.Assets.versioned("js/foundation.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/jquery.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/common.js")"></script>

}
