#car{
    width:130px;
    height:65px;
    background:transparent url("../images/car.png") no-repeat center center;
    background-size:100%;
    position:absolute;
    -webkit-animation: background 15s infinite normal;
}

#bike{
    width:100px;
    height:90px;
    background:transparent url("../images/bike.png") no-repeat center center;
    background-size:100%;
    position:absolute;
    -webkit-animation: background 15s infinite normal;
}

#cycle{
	max-width: 100%;
    max-height: 100%;
    width:90px;
    height:150px;
    background:transparent url("../images/cycle.png") no-repeat center center;
    background-size:100%;
    position:absolute;
    -webkit-animation: background 15s infinite normal;
}

@-webkit-keyframes background {
   
    0% { top:200px; left:25%; -webkit-transform:rotate(0deg); }
    25% { top:200px; left:50%; -webkit-transform:rotate(0deg); }
    30% { top:200px; left:50%; -webkit-transform:rotate(90deg); }
    50% { top:450px; left:50%; -webkit-transform:rotate(90deg); }
    55% { top:450px; left:50%; -webkit-transform:rotate(180deg); }
    75% { top:450px; left:25%; -webkit-transform:rotate(180deg); }
    80% { top:450px; left:25%; -webkit-transform:rotate(270deg); }
    95% { top:200px; left:25%; -webkit-transform:rotate(270deg); }
    100% {top:200px; left:25%; -webkit-transform:rotate(360deg); }
}